body {
  background-color: rgb(64, 204, 21);
}

input {
    width: 400px; 
    margin-top:50px;
    margin-left:150px;
  }

  button {
    margin-left:25px;
    margin-top:25px;
    margin-bottom:25px;
  }

  .container {
    display: inline-grid;
    grid-template-columns: 410px 410px 410px 410px;
  }

  .example-card {
    max-width: 400px;
    margin-bottom: 8px;
    background-color: rgb(241, 237, 221);
  }

