table {
    border-collapse: collapse;
    width: 830px;
    text-align: left;
    margin-left:25px;
  }
  
  td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
  }

  .blines:hover {
    background-color: rgb(203, 223, 113);
  }

  .ticker {
    text-align: left;
    width: 100px;
    padding: 15px;
  }

  .description {
    text-align: left;
    width: 600px;
    padding: 15px;
  }

  .price {
    text-align: left;
    width: 130px;
    padding: 15px;
  }

  input {
    width: 400px; 
    margin-top:50px;
  }

  button {
    margin-left:275px;
    margin-top:50px;
    margin-bottom:25px;
  }