<div>
    <input placeholder="enter tickers separated by comma..." [(ngModel)]="tickers">
    <button class="btn btn-primary" (click)="getTickerPrice()">Get Stock Prices</button>  
</div>
<table class="table">
    <thead>
        <tr>
            <th class="ticker">Ticker</th>
            <th class="description">Description</th>
            <th class="price">Price (US$)</th>
        </tr>
    </thead>
    <tbody>
        <tr class="blines" *ngFor="let ticker of response?.data">
            <td class="ticker">{{ticker.id}}</td>
            <td class="description">{{ticker.attributes.name}}</td>
            <td class="price">{{ticker.attributes.last}}</td>
        </tr>
    </tbody>
  </table>